"*":
  core:
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  "exception-reporting":
    userId: "b32c16c7-1603-41c3-93a7-4c092ffe1d20"
  "file-icons": {}
  "linter-ui-default":
    panelHeight: 64
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  welcome:
    showOnStartup: false
